@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen select-none bg-dar-50 text-dar-900 antialiased p-safe dark:bg-dar-900 dark:text-dar-50;

  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
